@import "tailwindcss";

@import "./typography.css";
@tailwind utilities;

button:hover {
  cursor: pointer;
}
.editor h1 {
  @apply text-3xl font-bold py-4;
}
.editor h2 {
  @apply text-2xl font-semibold py-3;
}
.editor blockquote {
  @apply border-l-4 pl-4 italic text-gray-600 py-2;
}
.editor p {
  @apply py-1;
}
.editor ul {
  @apply list-disc pl-6 py-1;
}
.editor ol {
  @apply list-decimal pl-6 py-1;
}
.editor li {
  @apply py-1;
}

.editor > * {
  position: relative;
}

.editor > *:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: oklch(87.2% 0.01 258.338); /* tailwind gray-200 */
}

